.main-img {
    display:block;
    width: 80%;
    margin: 3em auto 0 auto;
}
.text-container {
    max-width: 1315px;
    margin: 0 auto;
}

.text-container h1 {
    font-family: 'Montserrat';
    font-size: 6em;
    letter-spacing: 0.05em;
    font-weight: 800;
    text-align: center;
    opacity: 0;
}

.text-container h2 {
    font-family: 'Montserrat';
    font-size: 14vw;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.3em;
    opacity: 0;
}

.text-container h3 {
    font-family: 'Montserrat';
    font-size: 2em;
    margin: 0;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-align: center;
}

.text-container p {
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    letter-spacing: 4px;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.6;
}

.text-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.text-container li {
    display: inline-block;
    margin-bottom: 2em;
}

.text-container li:nth-last-child(-n+1) {
    margin-bottom: 0;
}

.text-container li p {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    margin-bottom: 1em;
}

.text-container li .project-img {
    width: 90%;
    display: block;
    margin: 1em auto 1em auto;
}

.hidden {
    display: none;
}

.bio-container {
    transition: all 0.5s ease-in-out;
}
.project-links {
    text-align: center;
}

/* ----- logo icons ----- */
.icon {
    width: 2em;
}
.icon-h {
    height: 2em;
}


.text-container .skill-list li {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    margin-bottom: 1em;
    display: block;
    text-align: center;
}
.ul-row {
    display: flex;
    justify-content: space-around;
}

.fas, .fab {
    font-size: 1.5em;
    color: white;
}

.button-link {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.5em;
    color: black;
    cursor: pointer;
}
.button-link:hover {
    background-color: black;
    color: white;
    transition-duration: 200ms;
}
.links a {
    color: black;
}

.inverted {
    color: white;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
}
.inverted-img {
    filter: invert(100%)
}
.inverted p {
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.5em;
}
.icon-list {
    text-align: center;
}

@media screen and (min-width: 620px) {
    .main-img {
        display:block;
        max-width: 30%;
        margin: 3em auto 0 auto;
    }
    .text-container h2 {
        font-size: 5em;
    }
    .text-container h3 {
        font-size: 3em;
    }
    .text-container li .project-img {
        max-width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .main-img {
        max-width: 20%;
    }
    .text-container {
        max-width: 90%;
    }
    .text-container ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .text-container h3 {
        font-size: 2em;
    }
    .text-container p {
        max-width: 70%;
        font-size: 1.8em;
        text-align: center;
    }
    .ul-row {
        display: inline;
    }
    .inverted {
        max-width: 100%;
    }
    .inverted p {
        font-size: 1em;
        margin-bottom: 0.5em;
    }
    .text-container li p {
        max-width: 80%;
        font-size: 1.2em;
    }
}