html {
    font-family: 'Source Sans Pro';
}
.main-img {
    display:block;
    width: 80%;
    box-shadow: 0 0 30px rgba(51, 51, 51, 0.199);
    margin: 0 auto 1em;
}
.text-container {
    max-width: 1315px;
    margin: 0 auto;
}

.text-container h1 {
    font-family: 'Montserrat';
    font-size: 6em;
    letter-spacing: 0.05em;
    font-weight: 800;
    text-align: center;
}

.text-container h2 {
    font-family: 'Montserrat';
    letter-spacing: 0.05em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.3em;
    font-size: 2em;
}

.text-container h3 {
    font-family: 'Montserrat';
    margin: 0;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-align: center;
}

.text-container p {
    font-size: 1em;
    letter-spacing: 4px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    line-height: 1.6;
}

.text-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.text-container li {
    display: inline-block;
    margin-bottom: 2em;
    text-align: center;
}

.text-container li p {
    text-align: center;
}

.text-container li .project-img {
    width: 90%;
    display: block;
    margin: 1em auto 1em auto;
}

.hidden {
    display: none;
}
.fadein-hidden {
    display: none;
}

.bio-container {
    background-color: black;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
.bio-container p {
    margin-bottom: 0;
}
.info-container {
    text-align: center;
    height: 100vh;
}
.project-links {
    text-align: center;
}
.section {
    padding-top: 1em;
}

/* icon */
.device {
    transform: scale(0.7);
}
.device-macbook-pro {
    display: inline-block;
    margin: 0 auto;
}


/* ----- logo icons ----- */
.icon {
    width: 2em;
}
.icon-h {
    height: 2em;
}


.text-container .skill-list li {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    margin-bottom: 1em;
    display: block;
    text-align: center;
}
.ul-row {
    display: flex;
    justify-content: space-around;
}

.fas, .fab {
    font-size: 1.5em;
    /* color: white; */
}

.button-link {
    text-decoration: none;

    border-bottom: solid #333;
    padding: .2em;
    color: black;
    cursor: pointer;
    margin: 0 0.5em 0 0.5em;
}
.button-link:hover {
    background-color: black;
    color: white;
    transition-duration: 200ms;
}
.links a {
    color: black;
}

.contact {
    padding-top: 1em;
    padding-bottom: 1em;
}
.contact-img {
    filter: invert(100%)
}
.contact p {
    text-align: center;
    margin-bottom: 0.5em;
}
.icon-list {
    text-align: center;
    margin-bottom: 1em;
}
.text-container .project-info {
    max-width: 90%;
    text-align: center;
}
.css-mb {
    max-width: 80%;
    margin: 2em auto 1em;
}


@media screen and (min-width: 620px) {
    .main-img {
        margin-right: 1em;
        max-width: 30%;
    }
    .text-container h1 {
        font-size: 8em;
        margin: 1em 0 0.5em 0;
    }
    .text-container h3 {
        font-size: 3em;
    }
    .text-container li .project-img {
        max-width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .main-img {
        margin-right: 1em;
        max-width: 10%;
    }
    .text-container {
        max-width: 100%;
    }
    .text-container h3 {
        font-size: 2em;
    }
    .ul-row {
        display: inline;
    }
    .inverted {
        max-width: 100%;
    }
}