section .text-container {
    max-width: 1315px;
    margin: 0 auto;
}

.text-container h1 {
    font-family: 'Montserrat';
    font-size: 6em;
    letter-spacing: 0.05em;
    font-weight: 800;
    text-align: center;
}

.text-container h2 {
    font-family: 'Montserrat';
    font-size: 4em;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-align: center;
}

.text-container p {
    font-family: 'Roboto';
    font-size: 1.5em;
    letter-spacing: 5px;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.6;
}

.hidden {
    display: none;
}

.bio-container {
    transition: all 0.5s ease-in-out;
}